<!--トレーニング記録画面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"></meta>
	<title th:text="${title}"></title>
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css">
</head>
	<body>
		<header id="header">
			<form method="GET" th:action="@{/login/access}">
				<div class="header__flex">
			    	<h2 th:text="${title}"></h2>
			    	<nav>
			      	<ul>
			        	<li><label th:text="${loginUser}"></label></li>
			        	<li><button class="btn btn-primary" type="submit">Logout</button></li>
			      	</ul>
			    	</nav>
			  	</div>
			</form>
		</header>
		<hr>
		<br>
			<form method="post" th:action="@{/calendarrecord/confirm}" th:object="${trainingRecordForm}">
				<!-- 当日日付 -->		    	
		    	<div align="left">
		    		<label th:text="*{year}"></label>
		    		<span> 年</span>
		    		<label th:text="*{month}"></label>
		    		<span> 月</span>
		    		<label th:text="*{day}"></label>
		    		<span> 日</span>
		    	</div>
		    <div th:text="${message}"></div>
		    <div align="right">
		    	<select id="date" name="date">
		    		<option th:each="date: ${trainingRecordForm.pulldownDate}" th:value="${date.value}" th:selected="${date.value == trainingRecordForm.date}" th:inline="text">[[${date.value}]]</option>
				</select>
				
			    <input type="submit" name="confirmation" value="確認" />
			    
				<!-- 記録ボタン：活性 -->
				<th:block th:if="*{recordsFlg}==0">
					<input type="submit" name="records" value="記録" />
				</th:block>
				
				<!-- 記録ボタン：非活性 -->
				<th:block th:if="*{recordsFlg}==1">
					<input type="submit" name="records" value="記録" disabled/>
				</th:block>
				
				<!-- 更新ボタン：活性 -->
				<th:block th:if="*{updateFlg}==0">
					<input type="submit" name="update" value="更新" />
				</th:block>
				
				<!-- 更新ボタン：非活性 -->
				<th:block th:if="*{updateFlg}==1">
					<input type="submit" name="update" value="更新" disabled/>
				</th:block>
				
				<input type="submit" name="confirmation" value="削除" />
			</div>
		    <div class="table-responsive">
				  <table>
				    <thead>
				      <tr class="center">
				      	<th>TrainingMenu</th>
				      	<th></th>
						<th>Weight</th>
						<th>St1</th>
						<th>St2</th>	
						<th>St3</th>
						<th>St4</th>
						<th>St5</th>
						<th>St6</th>
						<th>Total</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr th:each="trainingRecordListForm,stat : *{trainingRecordList}">   <!-- サーバで設定されたデータを表示 -->
				        <!-- 以下は表示用 -->
				        
				        <td class="center" th:text="${trainingRecordListForm.menu}">kg</td>
				        <td class="center"><input type="checkbox" th:field="*{trainingRecordList[__${stat.index}__].implementationFlag}" th:value="1"
				        th:checked="*{trainingRecordList[__${stat.index}__].implementationFlag == '1'}"></td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].weight}" />kg</td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].st1}" />reps</td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].st2}" />reps</td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].st3}" />reps</td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].st4}" />reps</td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].st5}" />reps</td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].st6}" />reps</td>
				        <td class="center"><input size="2" type="text" th:field="*{trainingRecordList[__${stat.index}__].total}" />reps</td>
				        <!-- 以下はpost送信用 -->
				        <td style='display	:none;'>
				          <input type="hidden" th:field="*{trainingRecordList[__${stat.index}__].menu}" />
				        </td>
				      </tr>
				    </tbody>
				  </table>
		    </div>   	
		</form>
	</body>
</html>