<!--メニュー画面 -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title th:text="${title}"></title>
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
<link th:href="@{/css/list.css}" rel="stylesheet" type="text/css">
</head>
	<body>
	<header id="header">
		<form method="GET" th:action="@{/login/access}">
			<div class="header__flex">
		    	<h2 th:text="${title}"></h2>
		    	<nav>
		      	<ul>
		        	<li><label th:text="${loginUser}"></label></li>
		        	<li><button class="btn btn-primary" type="submit">ログアウト</button></li>
		      	</ul>
		    	</nav>
		  	</div>
		</form>
	</header>
	<hr>
	<br>
	<ul>
		<li><span>&nbsp;&nbsp;&nbsp;</span><a th:href="@{/trainingMenucreate/access}">メニュー登録</a>
		<li><span>&nbsp;</span>
		<li><span>&nbsp;&nbsp;&nbsp;</span><a th:href="@{/calendarrecord/access}">トレーニング記録</a>
		<li><span>&nbsp;</span>
		<li><span>&nbsp;&nbsp;&nbsp;</span><a th:href="@{/attendance/form/{employeeNumber}/(employeeNumber=*{employeeNumber})}">身体記録</a>
	</ul>
	</body>
</html>